[Unit]
Description=SSH Tunnel and Remote Socat for Klipper
Requires=printer-sshcontrol.service
After=printer-sshcontrol.service

[Service]
User=printerpi
Group=printerpi

ExecStart=ssh -o ExitOnForwardFailure=yes -L 7126:localhost:7126 printer "socat TCP-LISTEN:7126,reuseaddr UNIX-CONNECT:/tmp/unix_uds1"

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
