[Unit]
Description=SSH ControlMaster Connection to printer
Requires=network-online.target
After=network-online.target

[Service]
User=radxa
Group=radxa

ExecStart=sshpass -p rockchip ssh -v -N -L 7126:localhost:7126 printer

Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
