[Unit]
Description=Moonraker API for Klipper
After=network.target klipper-socket-local.service klipper-fsmount.service

[Service]
Type=simple
User=radxa
Group=radxa
Restart=always
RestartSec=10
WorkingDirectory=/home/radxa
ExecStart=/home/radxa/moonraker-env/bin/python /home/radxa/moonraker/moonraker/moonraker.py -d /home/radxa/printer_data

[Install]
WantedBy=multi-user.target
